FORMAT: 1A
HOST: https://api.hubcash.com/v1

# API v1.0 - Documentation
First of all, thanks for using our API. This documentation will guide you how to implement
 your application to take advantage of our payment, delivery and fraud control solutions.

<br/>

## Authorization
To do so, we need use keys in *http headers* for all requests as specified below:

```http
X-Hubcash-Code: string
X-Hubcash-Token: string
```

::: note
## Keys
If you don't have these keys yet, you can can gain access following the links:

* [Production](https://www.hubcash.com/panel/register) keys to your production environment;
* [Development](https://www.hubcash.com/panel/register-development) keys to your development environment and testing;
:::

> "For both environments you can use the default endpoint."

<br/>

## Support
[Contact support team](https://www.hubcash.com/support), you can always contact us to get more information.

<br/>


# Data Structures

## ErrorData (object)
+ Type: Error (required) - Possible types: Error, NotFound, Warning, Authorization
+ Field: Name (required) - Field name
+ Description: Required (required) - Description

## ErrorList (array)
+ (ErrorData) - Errors

## ErrorDataUnauthorized (object)
+ Type: Authorization (required) - Error type
+ Field: headers (required) - Field name
+ Description: `Authorization with the API failed` (required) - Description

## ErrorListUnauthorized (array)
+ (ErrorDataUnauthorized) - Errors

## PostCardData (object)
+ Brand: Visa (required) - Card brand name
+ HolderName: Maria da Silva (required) - Holder name
+ Document: 223.112.333.112-22 (required) - Document of the holder
+ Phone: 93 912323322 (optional) - Optional phone of the holder
+ ExpMonth: 03 (required) - Card expiration month (mm)
+ ExpYear: 2022 (required) - Card expiration year (yyyy)
+ Number: 5162321366555222331234 (required) - (Requests) Card number
+ SecurityCode: 233 (required) - Card security code

## PutCardData (object)
+ Brand: Visa (required) - Card brand name
+ HolderName: Maria da Silva (required) - Holder name
+ Document: 223.112.333.112-22 (required) - Document of the holder
+ Phone: 93 912323322 (optional) - Optional phone of the holder
+ ExpMonth: 03 (required) - Card expiration month (mm)
+ ExpYear: 2022 (required) - Card expiration year (yyyy)

## ViewCardData (object)
+ CardId: 58c040b32d8baf18526217f5 (optional) - Unique identifier
+ Brand: Visa (required) - Card brand name
+ HolderName: Maria da Silva (required) - Holder name
+ Document: 223.112.333.112-22 (required) - Document of the holder
+ Phone: 93 912323322 (optional) - Optional phone of the holder
+ LastDigits: 1234 (optional) - Last digits of the cards
+ ExpMonth: 03 (required) - Card expiration month (mm)
+ ExpYear: 2022 (required) - Card expiration year (yyyy)

## PostCardDataSaved (object)
+ CardId: 58c040b32d8baf18526217f5 (optional) - Unique identifier

## CardList (array)
+ (ViewCardData) - Cards

## CurrencyData (object)
+ CurrencyId: 58c040b32d8baf18526217f5 (optional) - Unique identifier
+ Name: BRL (required) - Currency name
+ SymbolLeft: R$ (optional) - Symbol left
+ SymbolRight: US$  (optional) - Symbol right
+ DecimalPlace: 2  (number, required) - Decimal place

## CurrencyList (array)
+ (CurrencyData) - Currencies

## BrandData (object)
+ Name: Mastercard (required) - Unique identifier, brand name
+ Image: https://api.hubcash.com/images/brand/mastercard.png (optional) - Brand image
+ NumberDigits: 22  (number, required) - Total number of digits for card number
+ NumberSecurity: 3  (number, required) - Total number of digits for security number

## BrandList (array)
+ (BrandData) - Brands

## NotificationData (object)
+ NotificationId: 58c040b32d8baf18526217f5 (required) - Unique identifier
+ DateUpdated: `Y-m-dTH:i:s GMT` (optional) -  Date updated
+ DateAdded: `Y-m-dTH:i:s GMT` (required) -  Date added
+ LastResponseCode: 200 (number, required) -  The last http response code obtained
+ Sale (NotificationSaleData, required)

## NotificationSaleData (object)
+ SaleId: 58c040b32d8baf18526217f5 (required) - Sale unique identifier
+ Status: 1 (number, required) - Sale status

## NotificationList (array)
+ (NotificationData) - Notifications

## ViewSaleData (object)
+ SaleId: 58c040b32d8baf18526217f5 (required) - Sale unique identifier
+ Ref: 123456abc (optional) - Your internal identifier, order or sale ID for your store
+ SoftDescriptor: MyCompany (optional) - The descriptor with appears in the consumer credit card bill. Default is your company name.
+ Amount: 100 (required, number) - Amount in cents
+ Quota: true (optional, boolean) - If the sale has installments/quota
+ QuotaQty: 12 (optional, number) - Number of installments, if sale has quota
+ Currency: BRL (required) - Currency identifier
+ Method: Credit (required) - Sale method identifier
+ Capture: true (optional, boolean) - If the sale will be captured after creation
+ DateCanceled: `Y-m-dTH:i:s GMT` (optional) -  Date canceled
+ DateCaptured: `Y-m-dTH:i:s GMT` (optional) -  Date captured
+ DateReversed: `Y-m-dTH:i:s GMT` (optional) -  Date reversed
+ DateUpdated: `Y-m-dTH:i:s GMT` (optional) -  Date updated
+ DateAdded: `Y-m-dTH:i:s GMT` (required) -  Date added
+ Consumer (ConsumerData, optional)
+ BillingAddress (AddressData, optional)
+ ShippingAddress (AddressData, optional)
+ Analyze (array[AnalyzeData], optional)
+ Rollback (array[RollbackData], optional)
+ History (array[HistoryData], optional)
+ Items (array[ItemsData], optional)
+ Card (ViewCardData, optional)
+ Billet (BilletData, optional)
+ Status: 7 (number) -  Sale status

## PostSaleData (object)
+ Ref: 123456abc (optional) - Your internal identifier, order or sale ID for your store
+ SoftDescriptor: MyCompany (optional) - The descriptor with appears in the consumer credit card bill. Default is your company name.
+ Amount: 100 (required, number) - Amount in cents
+ Quota: true (optional, boolean) - If the sale has installments/quota
+ QuotaQty: 12 (optional, number) - Number of installments, if sale has quota
+ Currency: BRL (required) - Currency identifier
+ Method: Credit (required) - Sale method identifier
+ Capture: true (optional, boolean) - If the sale will be captured after creation
+ Consumer (ConsumerData, optional)
+ BillingAddress (AddressData, optional)
+ ShippingAddress (AddressData, optional)
+ Items (array[ItemsData], optional)
+ Card (PostCardData, optional)
+ Billet (PostBilletData, optional)

## PostSaleCardData (object)
+ Amount: 100 (required, number) - Amount in cents
+ Currency: BRL (required) - Currency identifier
+ Method: Credit (required) - Sale method identifier
+ SoftDescriptor: MyCompany (optional) - The descriptor with appears in the consumer credit card bill. Default is your company name.
+ Capture: true (optional, boolean) - If the sale will be captured after creation
+ Card (PostCardData, optional)

## PostSaleCardSavedData (object)
+ Amount: 100 (required, number) - Amount in cents
+ Currency: BRL (required) - Currency identifier
+ Method: Credit (required) - Sale method identifier
+ SoftDescriptor: MyCompany (optional) - The descriptor with appears in the consumer credit card bill. Default is your company name.
+ Capture: true (optional, boolean) - If the sale will be captured after creation
+ Card (PostCardDataSaved, optional)

## PostSaleBilletData (object)
+ Amount: 100 (required, number) - Amount in cents
+ Currency: BRL (required) - Currency identifier
+ Method: Billet (required) - Sale method identifier
+ Billet (PostBilletData, optional)

## SaleList (array)
+ (ViewSaleData) - Sales

## ItemsData (object)
+ Name: Notebook (optional) - Name
+ Description: Model 2017 (optional) - Description
+ Amount: 100 (optional) - Amount in cents
+ Qty: 1 (optional) - Quantity

## HistoryData (object)
+ Action: Data received (optional) - Action
+ DateAdded: `Y-m-dTH:i:s GMT` (optional) -  DateAdded

## RollbackData (object)
+ Reason: Consumer asked (optional) - Reason
+ Obs: Mastercard message (optional) - Obs
+ Date: `Y-m-dTH:i:s GMT` (optional) -  Date

## ConsumerData (object)
+ Name: Maria da Silva (optional) - Consumer name
+ Email: maria@dasilva.com.net, (optional) - Consumer email
+ Birthdate: `Y-m-dTH:i:s GMT` (optional) -  Birthdate
+ DocumentNumber: 223.112.333.112-22 (optional) - Document
+ DocumentType: CPF (optional) - Document type
+ Gender: Feminino (optional) - Gender, can be also M/F
+ HomePhone: 93 912323322 (optional) - Consumer home phone
+ MobilePhone: 93 912323322 (optional) - Consumer mobile phone
+ WorkPhone: 93 912323322 (optional) - Consumer work phone

## AddressData (object)
+ City: Curitiba (optional) - City name
+ Complement: Second floor (optional) - Complement of an address
+ Country: Brazil (optional) - Country
+ District: Centro (optional) - District
+ Number: 3523 (optional) - Number of the address
+ State: Paraná (optional) - State
+ Street: Rua das Palmeiras do alvoredo (optional) - Street name
+ ZipCode: 88202-000 (optional) - ZipCode

## BilletData (object)
+ OurNumber: 222312 (required, number) - OurNumber
+ Instructions (array[string], optional) - Instructions of the billet, max of 6
+ ExpiresIn: 7 (required, number) - Days to expire the billet, will be added to the expiration date
+ Digitable: 223123.223123222.3566313.333222123.3455123 (required) - Digitable number
+ Image: base64 (required) - Base64 containing the barcode image

## PostBilletData (object)
+ OurNumber: 222312 (required, number) - OurNumber
+ Instructions (array[string], optional)
+ ExpiresIn: 7 (required, number) - Days to expire the billet, will be added to the expiration date

## AnalyzeData (object)
+ Level: 72 (optional) - Level
+ Description: Approved (optional) - Description


# Group Cards
Credit and debit cards can be saved to be used by the consumer recurrently transactions.

## Cards [/cards/{CardId}]

+ Parameters
    + CardId - Identifier

### Details [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Card (ViewCardData)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

### Edit [PUT]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Card (PutCardData)

+ Response 200 (application/json)

    + Attributes (object)
        + Card (ViewCardData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

### Delete [DELETE]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Success (string)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## List of cards by document [/cards/document/{document}{?offset,rows}]
Get a list of cards by consumer document.

+ Parameters
    + document - Document of the consumer
    + offset: `0` (number, optional) - Offset of rows
    + rows: `10` (number, optional) - Number of rows

### List [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Cards (CardList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Create New Card [/cards]

### Create [POST]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Card (PostCardData)

+ Response 200 (application/json)

    + Attributes (object)
        + Card (ViewCardData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

# Group Sales

## Status

The table below describes the list of possible status for Sales:

ID | Name            | Description
--:| :-------------| :-----------
 1 | Processed       | The sale has been received and processed
 2 | Analyzing       | The sale is in pending because fraud analysis
 3 | Capturing       | Waiting to capture
 4 | Waiting Payment | For billets, awaiting payment confirmation
 5 | Fail            | The sale failed
 6 | Canceled        | Canceled
 7 | Done            | All the process of the sale was completed

## Methods

The table below describes the list of possible methods for Sales:

ID        | Description
:---------| :-----------
 `Credit` | Using credit card, accept installments
 `Debit`  | Using debit card, does not accept installments
 `Billet` | Using billet, does not accept installments, has optional configuration in the [panel](https://www.hubcash.com/panel)

## List of Sales [/sales{?offset,rows,Ref,Currency,Method,Capture,Status}]

+ Parameters
    + offset: `0` (number, optional) - Offset of rows
    + rows: `10` (number, optional) - Number of rows
    + Ref: 123456abc (optional) - Your internal identifier, order or sale ID for your store
    + Currency: BRL (optional) - Currency identifier
    + Method: Credit (optional) - Sale method identifier
    + Capture: true (optional, boolean) - If the sale will be captured after creation
    + Status: 7 (number) -  Sale status

### List [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Sales (SaleList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Details [/sales/{SaleId}]

+ Parameters
    + SaleId - Identifier

### Details [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Sale (ViewSaleData)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Capture [/sales/capture/{SaleId}]

+ Parameters
    + SaleId - Identifier

### Capture [PUT]

::: note
Sales can be captured after creation. The capture action effective the sale in the payment operator. Sales that does not
have been captured will just allocated credit limits.
:::

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Sale (ViewSaleData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Cancel [/sales/cancel/{SaleId}]

+ Parameters
    + SaleId - Identifier

### Cancel [PUT]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Sale (ViewSaleData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Create [/sales]

### Create [POST]

::: warning
#### <i class="fa fa-warning"></i> Caution
Identifiers for `Currency`, `Brand` and `Method` are case sensitive.
:::

+ Request with all fields (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Sale (PostSaleData)

+ Request with minimal new Credit Card (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Sale (PostSaleCardData)

+ Request with minimal saved Credit Card (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Sale (PostSaleCardSavedData)

+ Request with minimal Billet (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

    + Attributes (object)
        + Sale (PostSaleBilletData)

+ Response 200 (application/json)

    + Attributes (object)
        + Sale (ViewSaleData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

# Group Helpers
Requests to return additional data used in others requests using his identifiers.

## Currencies [/currencies]

### Currencies [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Currencies (CurrencyList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Brands [/brands]

### Brands [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Brands (BrandList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## Brand by number [/brands/{number}]
Use this request to return the brand data from first digits of the card number.

+ Parameters
    + number - First digits of the card number


### Brand by number [GET]

::: warning
#### <i class="fa fa-warning"></i> Caution
Do not send full `number`, with the all digits of the card, just the **first ones**. There is some cards that only works if
you pass the **six first digits**, but others, the **four ones**. So, you can request this endpoint **multiple times until you get a valid brand**.
If you passed more then six digits and no cards are founded, probably we are **not accepting that brand** or the card is already invalid.
:::

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Brand (BrandData)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

# Group Notifications
Notifications are used to send data back to your application, when a Sale status changes.

::: note
#### <i class="fa fa-info"></i> URL
The notification **will be sent if you configure a URL**, previously in this [panel](https://www.hubcash.com/panel).
But in all the cases, the notification will be created and **you can resend later**.
:::


## Notifications [/notifications/{NotificationId}]

+ Parameters
    + NotificationId - Identifier

### Details [GET]

::: note
The response below is also the data structure that we send to you after notification creation and resend.
:::

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Notification (NotificationData)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

### Resend [PUT]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Notification (NotificationData)

+ Response 400 (application/json)

    + Attributes (object)
        + Errors (ErrorList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)

## List of notifications [/notifications{?offset,rows}]

+ Parameters
    + offset: `0` (number, optional) - Offset of rows
    + rows: `10` (number, optional) - Number of rows

### List [GET]

+ Request example (application/json)

    + Headers

            X-Hubcash-Code: <code>
            X-Hubcash-Token: <token>

+ Response 200 (application/json)

    + Attributes (object)
        + Notifications (NotificationList)

+ Response 401 (application/json)

    + Attributes (object)
        + Errors (ErrorListUnauthorized)
